@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fontface' as *;
@use '../../styles/partials/mixins' as *;

.videoslist {
    padding: 0 $margin-mobile;

    &__heading {
        font-size: $font-mobile-buttonslabels-size;
        font-weight: $font-desktop-buttonslabels-weight;
        color: $BrainFlix-PrimarySilver;
        text-transform: uppercase;
        padding-top: $margin-mobile;

        &--hidden {
            visibility: hidden;
        }

        &--name {
            color: $BrainFlix-PrimaryBlack;
            text-transform: capitalize;
        }
    }

    &__video {
        display: flex;
        padding: $margin-mobile 0;
    }

    &__thumbnail {
        display: block;
        min-width: 35%;
        max-width: 35%;
        aspect-ratio: 16/10;
        object-fit: cover;
        border-radius: .25rem;
        margin-right: $margin-mobile;

    }

    &__details {
        padding-left: $margin-mobile;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__videotitle {
        font-size: $font-mobile-subheader-size;
        font-weight: $font-mobile-subheader-weight;
    }

    &__videochannel {
        font-size: $font-mobile-copy-body-size;
        font-weight: $font-mobile-copy-body-weight;
    }
}