@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fontface' as *;
@use '../../styles/partials/mixins' as *;

.glbl__button {
    font-weight: $font-mobile-buttonslabels-weight;
    font-size: $font-mobile-buttonslabels-size;
    text-transform: uppercase;

    background-color: $BrainFlix-PrimaryBlue;
    color: $Brainflix-PrimaryWhite;

    height: 2.5rem;
    width: 100%;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__image {
        margin: 0 $margin-mobile;
    }

    &__spacer {
        width: 1.5rem;
        margin: 0 $margin-mobile;
    }

    &__text {
        margin: 0 auto;
    }

    &:hover {
        background-color: $BrainFlix-SecondaryBlue;
    }
}