@use './variables' as *;
@use './fontface' as *;
@use './mixins' as *;

// ------------------------------ Reset


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------------------------------ Global Styles

.bf__wrapper {
    font-family: $brainflix-sitefont;
}

// ------------------------------ Header Section