@use './variables' as *;
@use './fontface' as *;
@use './mixins' as *;

// ------------------------------ Reset


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------------------------------ Global Styles

.bf__wrapper {
    font-family: $brainflix-sitefont;
}

.glbl__user-avatar {
    min-width: 2.25rem;
    min-height: 2.25rem;
    max-width: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    background-color: $BrainFlix-SecondarySilver;

}

// ------------------------------ Header Section