@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.comments {
    padding: 0 $margin-mobile;

    @include tablet {
        padding: 0 $margin-tablet;
    }

    &__form {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $BrainFlix-SecondarySilver;
        padding-bottom: $margin-mobile;

        @include tablet {
            justify-content: space-between;
            padding-bottom: $margin-tablet;

        }
    }

    &__form-input {
        //intentionally named class
        width: 100%;
        padding: 0 $margin-mobile;
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 0 $margin-tablet;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__comment {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $BrainFlix-SecondarySilver;
    }

    &__comment-body {
        //intentionally named class
        padding: 0 $margin-mobile;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include tablet {
            padding: 0 $margin-tablet;
        }
    }

    &__detailswrapper {
        padding: $margin-mobile 0;

        @include tablet {
            padding: $margin-tablet 0;
        }
    }

    &__label {
        font-size: $font-mobile-buttonslabels-size;
        font-weight: $font-desktop-buttonslabels-weight;
        color: $BrainFlix-PrimarySilver;
        text-transform: uppercase;

        @include tablet {
            font-size: $font-desktop-buttonslabels-size;
        }

        &--hidden {
            visibility: hidden;
        }

        &--name {
            color: $BrainFlix-PrimaryBlack;
            text-transform: capitalize;
        }
    }

    &__textarea {
        width: 100%;
        height: 6rem;
        border-radius: 4px;
        padding: 0 $margin-mobile;
        border: 1px solid $BrainFlix-PrimarySilver;
        background-color: $BrainFlix-SecondaryWhite;

        @include tablet {
            height: 2.5rem;
            min-width: 30rem;
            padding: 0 $margin-mobile;

        }
    }

    &__text {
        font-size: $font-mobile-copy-body-size;
        font-weight: $font-mobile-copy-body-weight;
        color: $BrainFlix-PrimarySilver;

        @include tablet {
            font-size: $font-desktop-copy-body-size;
            font-weight: $font-desktop-copy-body-weight;
        }

        &--title {
            font-size: $font-mobile-subheader-size;
            font-weight: $font-mobile-subheader-weight;
            color: $BrainFlix-PrimaryBlack;

            @include tablet {
                font-size: $font-desktop-subheader-size;
                font-weight: $font-desktop-subheader-weight;
            }
        }

        &--icon {
            padding: 0 calc($margin-mobile/2);
        }

        &--body {
            color: $BrainFlix-PrimaryBlack;
            margin-bottom: $margin-mobile;

            @include tablet {
                margin-bottom: $margin-desktop;
            }
        }
    }

    &__detailswrapper {
        display: flex;
        justify-content: space-between;
    }

    &__avatar-wrapper {
        display: flex;
        flex-direction: column;

        &--comment {
            padding-top: $margin-mobile;
            padding-right: .75rem;
        }
    }
}