// **** Imports ****
@use './partials/global' as *;
@use './partials/fontface' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// ------------------------------ Hero Section


.comments {
    padding: 0 $margin-mobile;

    &__form {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $BrainFlix-SecondarySilver;
        padding-bottom: $margin-mobile;
    }

    &__form-input {
        //intentionally named class
        padding: 0 $margin-mobile;
    }

    &__label {
        font-size: $font-mobile-buttonslabels-size;
        font-weight: $font-desktop-buttonslabels-weight;
        color: $BrainFlix-PrimarySilver;
        text-transform: uppercase;

        &--hidden {
            visibility: hidden;
        }
    }

    &__textarea {
        width: 100%;
        height: 6rem;
        border-radius: 4px;
        padding: $margin-mobile;
        border: 1px solid $BrainFlix-PrimarySilver;
    }


}