@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.details {
    width: 100%;
    padding: 0 $margin-mobile;

    @include tablet {
        padding: 0 $margin-tablet;
    }

    &__top {
        // wrapper for title & stats
        width: 100%;
    }

    &__title {
        border-bottom: 1px solid $BrainFlix-SecondarySilver;
        padding-bottom: $margin-mobile;

        @include tablet {
            padding-bottom: $margin-tablet;
            border-bottom: none;
        }
    }

    &__videotitle {
        // header tag
        font-size: $font-mobile-pageheader-size;
        font-weight: $font-mobile-pageheader-weight;

        @include tablet {
            font-size: $font-desktop-pageheader-size;
            font-weight: $font-desktop-pageheader-weight;
        }
    }

    &__stats {
        border-bottom: 1px solid $BrainFlix-SecondarySilver;
        padding: $margin-mobile $margin-mobile $margin-mobile 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include tablet {}

    }

    &__details {
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            flex-direction: row;
            align-items: center;

        }
    }

    &__text {
        font-size: $font-mobile-copy-body-size;
        font-weight: $font-mobile-copy-body-weight;
        color: $BrainFlix-PrimarySilver;

        @include tablet {
            font-size: $font-desktop-copy-body-size;
            font-weight: $font-desktop-copy-body-weight;
            padding-right: $margin-tablet;
        }

        &--title {
            color: $BrainFlix-PrimaryBlack;
            font-weight: bold;
        }

        &--icon {
            padding: 0 calc($margin-mobile/2);
        }

        &--body {
            color: $BrainFlix-PrimaryBlack;
            margin-bottom: $margin-mobile;
        }
    }

    &__synopsis {
        padding: $margin-mobile 0;

        @include tablet {
            padding: $margin-tablet 0;
        }
    }
}