@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.uploadform {
    padding: 0 $margin-mobile;

    @include tablet {
        padding: 0 $margin-tablet;
    }

    @include desktop {
        max-width: $breakpoint-desktop;
        margin: 0 auto;
    }

    &__heading {
        font-size: $font-mobile-pageheader-size;
        font-weight: $font-mobile-pageheader-weight;
        margin: $margin-mobile 0;
        padding: $margin-mobile 0;
        border-top: 1px solid $BrainFlix-SecondarySilver;
        border-bottom: 1px solid $BrainFlix-SecondarySilver;

        @include tablet {
            font-size: $font-desktop-pageheader-size;
            font-weight: $font-desktop-pageheader-weight;
            margin: $margin-desktop 0;
            padding: $margin-desktop 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding-top: $margin-mobile;
    }

    &__flexwrapper {
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__imgwrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 30%;
        }
    }

    &__thumbnail-img {
        max-width: 100%;
        margin-bottom: $margin-mobile;

        @include tablet {
            max-width: 100%;
        }

    }

    &__label {
        font-size: $font-mobile-buttonslabels-size;
        font-weight: $font-desktop-buttonslabels-weight;
        color: $BrainFlix-PrimarySilver;
        text-transform: uppercase;
        padding-bottom: $margin-mobile;

        @include tablet {
            font-size: $font-desktop-buttonslabels-size;
            font-weight: $font-desktop-buttonslabels-weight;
        }
    }

    &__fieldswrapper {
        display: flex;
        flex-direction: column;

        @include desktop {
            width: 68%;
        }
    }

    &__textinput {
        margin-bottom: $margin-mobile;
        min-height: 2.25rem;
        background-color: $BrainFlix-SecondaryWhite;
        padding: 0 $margin-mobile;
        border-radius: .25rem;
        border: 1px solid $BrainFlix-PrimarySilver;

        &--desc {
            height: 4.5rem;

            @include desktop {
                height: 7rem;
            }

        }

    }

    &__buttonswrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90px;
        padding: $margin-mobile;
        border-top: 1px solid $BrainFlix-SecondarySilver;


        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            height: 50px;
        }
    }
}

.cancel__button {
    color: $BrainFlix-PrimaryBlue;
    background-color: $Brainflix-PrimaryWhite;


    &:hover {
        background-color: $BrainFlix-SecondaryWhite;
    }
}

.upload__button__ordering {
    @include tablet {
        order: 1;
    }

}